In [1]:
import chardet # 인코딩 확인
import os
# 파일 경로 지정
check_file_path = '/content/서울지하철주소종합.csv'

# 파일의 인코딩 체크
with open(check_file_path, 'rb') as file:
  result = chardet.detect(file.read())
  print(f'File: {check_file_path}, Encoding: {result["encoding"]}, Confidence: {result["confidence"]}')

File: /content/서울지하철주소종합.csv, Encoding: utf-8, Confidence: 0.99

In [6]:
import pandas as pd
from google.colab import drive


drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd

data_subway = pd.read_csv('/content/서울지하철주소종합.csv', encoding='utf-8')
data_subway.info()
data_subway

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  372 non-null    object
 1   선명       372 non-null    object
 2   역명       372 non-null    object
 3   도로명주소    372 non-null    object
 4   위도       372 non-null    float64
 5   경도       372 non-null    float64
dtypes: float64(2), object(4)
memory usage: 17.6+ KB

    철도운영기관명   선명        역명                  도로명주소         위도          경도
0       코레일  1호선       도봉산   서울특별시 도봉구 도봉로 964-33  37.689034  127.046667
1       코레일  1호선        도봉   서울특별시 도봉구 도봉로 170길 2  37.675204  127.044898
2       코레일  1호선        방학  서울특별시 도봉구 도봉로 150다길 3  37.665598  127.044444
3       코레일  1호선        창동    서울특별시 도봉구 마들로11길 77  37.653378  127.047682
4       코레일  1호선        녹천      서울특별시 도붕구 덕릉로 376  37.645635  127.050942
..      ...  ...       ...                    ...        ...         ...
367    공항철도   공항       서울역      서울특별시 용산구 청파로 378  37.552395  126.971069
368    공항철도   공항        공덕      서울특별시 마포구 마포대로 92  37.543011  126.951188
369    공항철도   공항      홍대입구      서울특별시 마포구 양화로 188  37.559528  126.924795
370    공항철도   공항  디지털미디어시티      서울특별시 마포구 성암로 184  37.576866  126.899170
371    공항철도   공항      김포공항       서울특별시 강서구 하늘길 77  37.565059  126.802992

[372 rows x 6 columns]

In [8]:
import pandas as pd

data_APT = pd.read_csv('/content/drive/MyDrive/data_APT, officetel, townhouse/data_APT.csv', encoding='utf-8')
data_APT.info()
data_APT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93453 entries, 0 to 93452
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Building_Age  93453 non-null  int64
 1   JS_Price      93453 non-null  int64
 2   JS_BA         93453 non-null  float64
 3   Population    93453 non-null  int64
 4   UR            93453 non-null  float64
 5   LC_index      93453 non-null  float64
 6   CA_index      93453 non-null  float64
 7   TC_index      93453 non-null  float64
 8   SDT_index     93453 non-null  float64
 9   HSP_index     93453 non-null  float64
 10  Sell_Price    93453 non-null  float64
 11  Crime_Rates   93453 non-null  float64
 12  위도            93453 non-null  float64
 13  경도            93453 non-null  float64
 14  IR            93453 non-null  float64
 15  Region_강남구    93453 non-null  int64
 16  Region_강동구    93453 non-null  int64
 17  Region_강북구    93453 non-null  int64
 18  Region_강서구    93453 non-null  int64
 19  Region_관악구    93453 non-null  int64
 20  Region_광진구    93453 non-null  int64
 21  Region_구로구    93453 non-null  int64
 22  Region_금천구    93453 non-null  int64
 23  Region_노원구    93453 non-null  int64
 24  Region_도봉구    93453 non-null  int64
 25  Region_동대문구   93453 non-null  int64
 26  Region_동작구    93453 non-null  int64
 27  Region_마포구    93453 non-null  int64
 28  Region_서대문구   93453 non-null  int64
 29  Region_서초구    93453 non-null  int64
 30  Region_성동구    93453 non-null  int64
 31  Region_성북구    93453 non-null  int64
 32  Region_송파구    93453 non-null  int64
 33  Region_양천구    93453 non-null  int64
 34  Region_영등포구   93453 non-null  int64
 35  Region_용산구    93453 non-null  int64
 36  Region_은평구    93453 non-null  int64
 37  Region_종로구    93453 non-null  int64
 38  Region_중구     93453 non-null  int64
 39  Region_중랑구    93453 non-null  int64
 40  Year          93453 non-null  int64
 41  Month         93453 non-null  int64
dtypes: float64(12), int64(30)
memory usage: 29.9 MB

,Building_Age,JS_Price,JS_BA,Population,UR,LC_index,CA_index,TC_index,SDT_index,HSP_index,...,Region_송파구,Region_양천구,Region_영등포구,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month
0,15,18000,59.97,299533,3.800000,72.000000,78.200000,74.200000,114.099327,81.200000,...,0,0,0,0,0,0,0,0,2011,1
1,32,30000,84.43,557563,3.800000,72.000000,78.200000,74.200000,113.009872,81.200000,...,0,0,0,0,0,0,0,0,2011,1
2,14,22000,59.82,368260,3.800000,72.000000,78.200000,74.200000,113.009872,81.200000,...,0,0,0,0,0,0,0,0,2011,1
3,25,18000,47.94,494724,3.800000,72.000000,78.200000,74.200000,114.099106,81.200000,...,0,1,0,0,0,0,0,0,2011,1
4,12,23500,149.97,420803,3.800000,72.000000,78.200000,74.200000,114.270256,81.200000,...,0,0,0,0,0,0,0,0,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93448,26,45000,84.20,384272,3.963951,102.715637,100.784225,100.768990,132.138962,160.718903,...,0,0,0,0,0,0,0,1,2023,9
93449,13,40000,59.60,291384,3.963951,102.715637,100.783485,100.768990,132.138962,160.718903,...,0,0,0,0,0,0,0,0,2023,9
93450,24,45000,59.97,121441,3.963951,102.715637,100.783485,100.768990,132.138962,160.718903,...,0,0,0,0,0,0,1,0,2023,9
93451,31,30000,58.65,566839,3.963951,102.715637,100.783485,100.768990,132.138962,160.718903,...,0,0,0,0,0,0,0,0,2023,9
93452,33,25000,49.50,500104,3.972986,102.765205,100.790451,100.808098,132.138962,160.709946,...,0,0,0,0,0,0,0,0,2023,9

In [9]:
import pandas as pd

data_officetel = pd.read_csv('/content/drive/MyDrive/data_APT, officetel, townhouse/data_officetel.csv', encoding='utf-8')
data_officetel.info()
data_officetel

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72646 entries, 0 to 72645
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Building_Age  72646 non-null  int64
 1   JS_Price      72646 non-null  int64
 2   JS_BA         72646 non-null  float64
 3   Population    72646 non-null  int64
 4   UR            72646 non-null  float64
 5   LC_index      72646 non-null  float64
 6   CA_index      72646 non-null  float64
 7   TC_index      72646 non-null  float64
 8   SDT_index     72646 non-null  float64
 9   HSP_index     72646 non-null  float64
 10  Sell_Price    72646 non-null  float64
 11  Crime_Rates   72646 non-null  float64
 12  위도            72646 non-null  float64
 13  경도            72646 non-null  float64
 14  IR            72646 non-null  float64
 15  Region_강남구    72646 non-null  int64
 16  Region_강동구    72646 non-null  int64
 17  Region_강북구    72646 non-null  int64
 18  Region_강서구    72646 non-null  int64
 19  Region_관악구    72646 non-null  int64
 20  Region_광진구    72646 non-null  int64
 21  Region_구로구    72646 non-null  int64
 22  Region_금천구    72646 non-null  int64
 23  Region_노원구    72646 non-null  int64
 24  Region_도봉구    72646 non-null  int64
 25  Region_동대문구   72646 non-null  int64
 26  Region_동작구    72646 non-null  int64
 27  Region_마포구    72646 non-null  int64
 28  Region_서대문구   72646 non-null  int64
 29  Region_서초구    72646 non-null  int64
 30  Region_성동구    72646 non-null  int64
 31  Region_성북구    72646 non-null  int64
 32  Region_송파구    72646 non-null  int64
 33  Region_양천구    72646 non-null  int64
 34  Region_영등포구   72646 non-null  int64
 35  Region_용산구    72646 non-null  int64
 36  Region_은평구    72646 non-null  int64
 37  Region_종로구    72646 non-null  int64
 38  Region_중구     72646 non-null  int64
 39  Region_중랑구    72646 non-null  int64
 40  Year          72646 non-null  int64
 41  Month         72646 non-null  int64
dtypes: float64(12), int64(30)
memory usage: 23.3 MB

,Building_Age,JS_Price,JS_BA,Population,UR,LC_index,CA_index,TC_index,SDT_index,HSP_index,...,Region_송파구,Region_양천구,Region_영등포구,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month
0,20,7000,22.77,557563,3.800000,72.000000,78.200000,74.200000,112.372055,81.200000,...,0,0,0,0,0,0,0,0,2011,1
1,8,13000,40.56,557563,3.800000,72.000000,78.200000,74.200000,114.326378,81.200000,...,0,0,0,0,0,0,0,0,2011,1
2,6,22000,57.27,557563,3.800000,72.000000,78.200000,74.200000,112.364861,81.200000,...,0,0,0,0,0,0,0,0,2011,1
3,7,14000,35.34,557563,3.800000,72.000000,78.200000,74.200000,112.765800,81.200000,...,0,0,0,0,0,0,0,0,2011,1
4,4,14000,56.04,486546,3.800000,72.000000,78.200000,74.200000,114.199348,81.200000,...,0,0,0,0,0,0,0,0,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72641,17,17000,30.06,365111,3.964265,102.798141,100.793892,100.698433,132.138962,160.827866,...,0,0,0,0,0,0,0,0,2023,9
72642,3,21400,18.63,279374,3.971589,102.782471,100.795662,100.685158,132.138962,160.763809,...,0,0,0,0,0,0,0,0,2023,9
72643,12,23000,39.49,657101,3.973508,102.776405,100.786980,100.783096,132.138962,160.681564,...,1,0,0,0,0,0,0,0,2023,9
72644,2,21500,29.41,376139,3.963478,102.804169,100.787094,100.823219,132.138962,160.722946,...,0,0,1,0,0,0,0,0,2023,9
72645,6,27500,28.60,376139,3.973222,102.786888,100.790817,100.809357,132.140274,160.746536,...,0,0,1,0,0,0,0,0,2023,9

In [10]:
import pandas as pd

data_townhouse = pd.read_csv('/content/drive/MyDrive/data_APT, officetel, townhouse/data_townhouse.csv', encoding='utf-8')
data_townhouse.info()
data_townhouse

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56179 entries, 0 to 56178
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Building_Age  56179 non-null  int64
 1   JS_Price      56179 non-null  int64
 2   JS_BA         56179 non-null  float64
 3   Population    56179 non-null  int64
 4   UR            56179 non-null  float64
 5   LC_index      56179 non-null  float64
 6   CA_index      56179 non-null  float64
 7   TC_index      56179 non-null  float64
 8   SDT_index     56179 non-null  float64
 9   HSP_index     56179 non-null  float64
 10  Sell_Price    56179 non-null  float64
 11  Crime_Rates   56179 non-null  float64
 12  위도            56179 non-null  float64
 13  경도            56179 non-null  float64
 14  IR            56179 non-null  float64
 15  Region_강남구    56179 non-null  int64
 16  Region_강동구    56179 non-null  int64
 17  Region_강북구    56179 non-null  int64
 18  Region_강서구    56179 non-null  int64
 19  Region_관악구    56179 non-null  int64
 20  Region_광진구    56179 non-null  int64
 21  Region_구로구    56179 non-null  int64
 22  Region_금천구    56179 non-null  int64
 23  Region_노원구    56179 non-null  int64
 24  Region_도봉구    56179 non-null  int64
 25  Region_동대문구   56179 non-null  int64
 26  Region_동작구    56179 non-null  int64
 27  Region_마포구    56179 non-null  int64
 28  Region_서대문구   56179 non-null  int64
 29  Region_서초구    56179 non-null  int64
 30  Region_성동구    56179 non-null  int64
 31  Region_성북구    56179 non-null  int64
 32  Region_송파구    56179 non-null  int64
 33  Region_양천구    56179 non-null  int64
 34  Region_영등포구   56179 non-null  int64
 35  Region_용산구    56179 non-null  int64
 36  Region_은평구    56179 non-null  int64
 37  Region_종로구    56179 non-null  int64
 38  Region_중구     56179 non-null  int64
 39  Region_중랑구    56179 non-null  int64
 40  Year          56179 non-null  int64
 41  Month         56179 non-null  int64
dtypes: float64(12), int64(30)
memory usage: 18.0 MB

,Building_Age,JS_Price,JS_BA,Population,UR,LC_index,CA_index,TC_index,SDT_index,HSP_index,...,Region_송파구,Region_양천구,Region_영등포구,Region_용산구,Region_은평구,Region_종로구,Region_중구,Region_중랑구,Year,Month
0,10,23000,64.64,557563,3.800000,72.000000,78.200000,74.200000,113.800797,81.200000,...,0,0,0,0,0,0,0,0,2011,1
1,1,17000,45.63,486546,3.800000,72.000000,78.200000,74.200000,114.099106,81.200000,...,0,0,0,0,0,0,0,0,2011,1
2,17,12000,49.46,486546,3.800000,72.000000,78.200000,74.200000,112.765800,81.200000,...,0,0,0,0,0,0,0,0,2011,1
3,1,15000,39.23,486546,3.800000,72.000000,78.200000,74.200000,113.792618,81.200000,...,0,0,0,0,0,0,0,0,2011,1
4,1,15000,41.95,486546,3.800000,72.000000,78.200000,74.200000,113.792618,81.200000,...,0,0,0,0,0,0,0,0,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56174,7,20200,29.85,438353,3.963478,102.791817,100.791054,100.847015,132.138962,160.765549,...,0,1,0,0,0,0,0,0,2023,9
56175,0,20000,29.78,217288,3.963951,102.715637,100.783485,100.768990,132.138962,160.718903,...,0,0,0,1,0,0,0,0,2023,9
56176,8,20000,34.79,463298,3.972986,102.773193,100.790451,100.809357,132.138962,160.711884,...,0,0,0,0,1,0,0,0,2023,9
56177,5,18000,24.93,384272,3.963715,102.804169,100.788315,100.823219,132.138962,160.728821,...,0,0,0,0,0,0,0,1,2023,9
56178,5,18000,24.93,384272,3.963951,102.715637,100.783485,100.768990,132.138962,160.718903,...,0,0,0,0,0,0,0,1,2023,9

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and subway station data
real_estate_data = data_APT  # Replace with your real estate data file
subway_station_data = pd.read_csv('/content/서울지하철주소종합.csv', encoding = 'utf-8')  # Replace with your subway station data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# Calculate shortest distance for each real estate to each subway station
shortest_distances = []

for _, real_estate_row in real_estate_data.iterrows():
    real_estate_lat = real_estate_row['위도']
    real_estate_lon = real_estate_row['경도']

    distances_to_subway_stations = []
    for _, subway_station_row in subway_station_data.iterrows():
        subway_station_lat = subway_station_row['위도']
        subway_station_lon = subway_station_row['경도']

        distance = haversine_distance(real_estate_lat, real_estate_lon, subway_station_lat, subway_station_lon)
        distances_to_subway_stations.append(distance)

    shortest_distance = min(distances_to_subway_stations)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to subway stations to the real estate data
real_estate_data['Shortest_Distance_to_Subway'] = shortest_distances

# Save the merged data to a new CSV file
real_estate_data.to_csv('data_APT.csv', index=False)

data_APT = real_estate_data

data_APT

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and university data
real_estate_data = data_APT  # Replace with your real estate data file
university_data = pd.read_csv('/content/University.csv', encoding = 'euc-kr')  # Replace with your university data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# Calculate shortest distance for each real estate to each university
shortest_distances = []

for _, real_estate_row in real_estate_data.iterrows():
    real_estate_lat = real_estate_row['위도']
    real_estate_lon = real_estate_row['경도']

    distances_to_universities = []
    for _, university_row in university_data.iterrows():
        university_lat = university_row['위도']
        university_lon = university_row['경도']

        distance = haversine_distance(real_estate_lat, real_estate_lon, university_lat, university_lon)
        distances_to_universities.append(distance)

    shortest_distance = min(distances_to_universities)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to universities to the real estate data
real_estate_data['Shortest_Distance_to_University'] = shortest_distances



# Save the merged data to a new CSV file
real_estate_data.to_csv('data_APT.csv', index=False)

data_APT = real_estate_data

data_APT

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and school data
real_estate_data = data_APT  # Replace with your real estate data file
school_data = pd.read_csv('/content/School.csv', encoding = 'utf-8')  # Replace with your school data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# Calculate shortest distance for each real estate to each school
shortest_distances = []

for _, real_estate_row in real_estate_data.iterrows():
    real_estate_lat = real_estate_row['위도']
    real_estate_lon = real_estate_row['경도']

    distances_to_schools = []
    for _, school_row in school_data.iterrows():
        school_lat = school_row['위도']
        school_lon = school_row['경도']

        distance = haversine_distance(real_estate_lat, real_estate_lon, school_lat, school_lon)
        distances_to_schools.append(distance)

    shortest_distance = min(distances_to_schools)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to schools to the real estate data
real_estate_data['Shortest_Distance_to_School'] = shortest_distances

#

# Save the merged data to a new CSV file
real_estate_data.to_csv('data_APT.csv', index=False)

data_APT = real_estate_data

data_APT